{% load widget_tweaks %}

<div class="modal-dialog modal-lg"  role="document">
    <div class="modal-content">
        <div class="modal-header">
            <h2 class="modal-title">Ediccion de Paciente:   <b>{{object}}</b></h2>
            <button type="button" class="btn-close" data-bs-dismiss="modal" >
                
            </button>
        </div>
        <form action="{% url 'actualizarPaciente' object.id%}" method="POST">
            {% csrf_token %}
            <div class="modal-body">
                {{form.as_p}}
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Cancelar</button>
                <button class="btn btn-primary" type="submit">Confirmar</button>
            </div>
        </form>
    </div>
</div>


